* {
  box-sizing: border-box;
}

body {
  /*font-family: Courier, Arial, Helvetica, sans-serif;*/
  font-family: Amplitude, Open Sans, Arial, Helvetica Neue, sans-serif;
  background-color: white;
  text-align: center;
}

.container {
  display: block;
  background-color: white;
  padding: 1px;
  width: 100%;
  margin: auto;
}

a:link,
a:visited {
  color: #4d4d4d;
  text-decoration: none;
}

a:hover,
a:active {
  color: black;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1rem;
  background-color: white;
}

section {
  display: block;
  text-align: center;
  background-color: gold;
  width: 100%;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 900;
  margin: 1rem 0;
}

h2 {
  font-size: 2rem;
  line-height: 2.1rem;
  font-weight: 700;
  margin: 1rem 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 500;
  margin: 1rem 0;
}

footer p {
  text-align: center;
}
